@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
  }

  .container{
    padding: 10px;
    justify-content: center;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url(Image/Anime-Desktop-Wallpaper.jpg);
    }

nav{
    width: 100%;
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: row;
    font-size: 1.38rem;
}

.nav-left{
    border: 1px solid yellowgreen;
    width: 40%;
    color: white;
}

.nav-right{
    border: 1px solid yellowgreen;
    width: 60%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.nav-link-login{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 2px;
}

.nav-link:hover{
    color: aqua;
}

.forum-center{
    border: 1px solid yellowgreen;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-main{
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerh1{
    font-size: 2rem;
    color: white;
}

.centerh2{
    font-size: 1.8rem;
    color: white;
}

.nav-forum{
    font-size: 1.5rem;
    color: red;
}

.nav-forum:hover{
    color:aqua;
}

footer{
    border: 1px solid yellowgreen;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}


/* From Uiverse.io by yashasvi9199 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
  }
  
  .card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  
  .card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
  